pipeline/pl_getKeyValut.json
{
	"name": "pl_getKeyValut",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "gender",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gender",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dob",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dob",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "occupation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "occupation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_exp",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_exp",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "salary",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "salary",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "own_house",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "own_house",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "children",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "children",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_AzureSqlTable_AzureKeyVault",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://formula2024dl.vault.azure.net/secrets/Password/a4f9046839fc4fe2b37c7328b58a40e6?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://formula2024dl.vault.azure.net/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Value",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Value": {
				"type": "String"
			}
		},
		"folder": {
			"name": "New folder"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-05T08:49:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}